# Testing
pytest
pytest-cov
multiprocess
pytest-asyncio

# Linting and Formatting
flake8
isort

# Type Checking
mypy
types-requests

# Implementation
huggingface_hub
PyGithub
GitPython
requests
aiohttp